<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link href="css/table.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/head :: navigations"/>

<div>
    <h2 th:text="'Всего: ' + ${sumOrder} + ' руб.'" />
</div>

<div>
    <table class="modules">
        <th>Select</th>
        <th>Socket</th>
        <div th:replace="fragments/manufacturer :: tableTh" />
        <tr th:each="c: ${cpuList}">
            <td><a th:href="@{/filter(socket=${c.cpuSocket}, ramType=${ramType}, cpuId=${c.id})}">select</a></td>
            <td th:text="${c.cpuSocket}" />
            <span th:replace="fragments/manufacturer :: table(m = ${c})" />
        </tr>
    </table>
</div>

<div>
    <table class="modules">
        <th>Select</th>
        <th>Ram type</th>
        <div th:replace="fragments/manufacturer :: tableTh" />
        <tr th:each="r: ${ramList}">
            <td><a th:href="@{/filter(ramType=${r.ramType}, socket=${socket}, cpuId=${cpuId})}">select</a></td>
            <td th:text="${r.ramType}" />
            <span th:replace="fragments/manufacturer :: table(m = ${r})" />
        </tr>
    </table>
</div>

<div>
    <table class="modules">
        <tr>
            <th>Select</th>
            <th>FormFactor</th>
            <th>Cpu socket</th>
            <th>Ram type</th>
            <th>Hdd type</th>
            <div th:replace="fragments/manufacturer :: tableTh" />
        </tr>
        <tr th:each="mb: ${mbList}">
            <td><a th:href="@{/filter(ramType=${mb.ramType}, socket=${mb.cpuSocket}, cpuId=${cpuId})}">select</a></td>
            <td th:text="${mb.caseFormFactor}" />
            <td th:text="${mb.cpuSocket}" />
            <td th:text="${mb.ramType}" />
            <td th:text="${mb.hddType}" />
            <span th:replace="fragments/manufacturer :: table(m = ${mb})" />
        </tr>
    </table>
</div>


</body>
</html>